<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Edit album</title>
</head>

<body>

<div>
 <p>Adding new album #${id}</p>
</div>
<!-- ##{B:PageContent} -->
    <div class="main_content">
      <form action="/savenew" method="post">
        <input type="hidden" name="album_id" value="${id}"/>

	<label for="title">Album title: </label>
	<input type="text" size="100" name="title" value="${title.decode('utf-8')}"/>

        <label for="artist_id">Artist: </label>
	<select name="artist_id">
	  <py:for each="artist in artists">
	  <py:choose test="artist.artist_id">
          <py:when test="artist_id">
<option selected="selected" value="${artist.artist_id}">${artist.name}</option></py:when>
          <py:otherwise>
<option value="${artist.artist_id}">${artist.name}</option></py:otherwise>
	  </py:choose>
	  </py:for>
        </select> 

        <label for="genre_id">Genre:</label>
	 <select name="genre_id">
	  <py:for each="genre in genres">
	  <py:choose test="genre.genre_id">
          <py:when test="genre_id">
<option selected="selected" value="${genre.genre_id}">${genre.name}</option></py:when>
          <py:otherwise>
<option value="${genre.genre_id}">${genre.name}</option></py:otherwise>
	  </py:choose>
	  </py:for>
        </select> 

          <label for="year">Year: </label>
          <select name="year">
	  <py:for each="y in range(1950,2020)">
	  <py:choose test="y">
          <py:when test="year">
<option selected="selected" value="${y}">${y}</option></py:when>
          <py:otherwise>
<option value="${y}">${y}</option></py:otherwise>
	  </py:choose>
	  </py:for>
        </select> 

	<label for="have">Have:</label> <select name="have">
<py:for each="i,h in enumerate(['No','Only MP3','Only CD','MP3+CD','Original CD','MP3+Original','Only LP','MP3+LP','MP3+LP+CD','MP3+LP+Original'])">
	  <py:choose test="i">
          <py:when test="have">
<option selected="selected" value="${i}">${h}</option></py:when>
          <py:otherwise>
<option value="${i}">${h}</option></py:otherwise>
	  </py:choose>
</py:for>
        </select> 

        <label for="rating">Rating: </label><select name="rating">
	  <py:for each="r in range(-1,11)">
	  <py:choose test="r">
          <py:when test="rating">
<option selected="selected" value="${r}">${r}</option></py:when>
          <py:otherwise>
<option value="${r}">${r}</option></py:otherwise>
	  </py:choose>
	  </py:for>
        </select> 

	<label for="type">Type: </label><select name="atype">
<py:for each="i,type in enumerate(['Album','Live','Compilation','Bootleg','EP or Single','Demo','Sessions','Covers','DVD'])">
	  <py:choose test="i">
          <py:when test="atype">
<option selected="selected" value="${i}">${type}</option></py:when>
          <py:otherwise>
<option value="${i}">${type}</option></py:otherwise>
	  </py:choose>
</py:for>
        </select> 

        <input type="submit" name="submit" value="Save"/>
      </form>

    </div>

</body>
</html>
